#kreis {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: blue;
  display: flex;
}

#kreis i {
  align-self: center;
  text-align: center;
  width: 100%;
  transition: all 2s ease;
  font-size: 70px;
  color: white;
}

#kreis i.rotate {
  transform: rotate(360deg); 
}

button {
  margin-top: 100px;
}